/*font-family: 'Mukta Vaani', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Khand', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Kaushan Script', cursive;
*/
$(document).on("click", ".top", function() {
	$(this).next(".middle").toggleClass("active");
});

@media screen only (max-width:950px)
       {
                    a img {
                      width: 250px;
                    }
                    .biggerpic{
                      width: 50%;
                    }

                    .chefs img {
                      width: 250px;
                      border-radius: 10px;

                    }

      }
img {
  border-radius: 4px;
}
h2 {
  font-family: 'Dosis', sans-serif;
  color: black;
  padding-top: 10px;
}
h3{
  color: black;
}
h5 {
  font-family: 'Poiret One', cursive;
color: black;
}
.chefs{
  display: flex;
flex-direction: row;
flex-grow: 1;
flex-wrap: wrap;
justify-content: center;
  /*background: linear-gradient(#fff, #fff);*/
  color: black;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0px;
}

.chefs img {
  width: 12vw;
  border-radius: 10px;

}


.bggradient {
  padding: 30px;
/*    background: linear-gradient(#fff, #fff); */
/*  background: linear-gradient(#642a28, black);*/
  margin-bottom: 30px;
  border-radius: 0px 0px 8px 8px;
}

.boxshadow {
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    margin-bottom:10px;

}

.fullwidth {
  width: 100%;
}

.stickynav {
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0px;
}

.stickyfooter {
  position: fixed;
  bottom: 0px;
  z-index: 98;
  height: 40px;
  width: 100vw;
}

footer h6 {
  background-color: #242424;
  color: white;
  font-family: 'Jura', sans-serif;
  padding: 10px 5px;
  display: inline-block;

}


nav {
  padding-top: 0px;
  background: #242424;
  padding-right: 2vw;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  }

nav a:visited, nav a:link {
  color: white;

}

nav ul li a:hover {
  animation-name: navhover;
  animation-duration: .9s;
  border-radius: 1px;
  animation-fill-mode: forwards;
  }

@keyframes navhover {
0% {}
100% {background: #383838; color: white;}
}




body {
  background: linear-gradient(#642a28, black);
 padding-top: 75px;
}


//////////////////////////////////////////////////////////////////
@media screen and (max-width: 950px) {

              nav {
                padding-top: 5px;
                font-family: 'Dosis', sans-serif;
                font-size: 4px;
            }

            .stickyfooter {
            height: 150px;
            bottom: 100px;
            }

            footer {
              height: 180px;
              bottom: 200px;
            }

            .chefs{
              display: inline-block;
              position: relative;
            }

            .chefs img {
              width: 150px;
              border-radius: 0px;
              display: inline-block;
              position: relative;
              justify-content: flex-start;
            }





}




/* JAMIE CSS BELOW */
/*h2 {
  text-align: center;
}
body {
  background: white;
 padding-top: 75px;
}

.accordion {
  background-color: #242424;
  color: white;
}

.accordion-content {
  background-color: #242424;
  color: white;
  background-image:url('../img/paper_texture.png');
  color: black;
}

iframe {border-radius: 10px;}*/

#accWrap {
	max-width: 100%;
	margin: 1em auto;
	}
.accBox {
  width:100%;
	float: left;
	background: #242424;
  color: white;
	font-size:.875em;
	font-weight:700;
	padding:.875em 0;
	text-indent:1%;
	border-top:1px dotted #ccc;
  font-family: 'Dosis', sans-serif;
  text-align: center;
	}
	.accBox:hover {
	background: #D8B75F;
	color:#fff;
  cursor:pointer;
	}
.accContent {
	width: 100%;
	float: left;
  /*padding:2%;*/
	background-image:url('../img/paper_texture.png');
  border-top:1px dotted #ccc;
  font-family: 'Dosis', sans-serif;
	}

.accWrap2 {
  max-width: 100%;
  margin: 1em auto;
  }
.accBox2 {
  width:100%;
  float: left;
  font-size:.875em;
  font-weight:700;
  padding:.875em 0;
  font-family: 'Dosis', sans-serif;
  }
.accBox2:hover {
  color: gray;
  cursor:pointer;
  }
.accContent2 {
  width: 100%;
  float: left;
  padding:2%;
  font-family: 'Dosis', sans-serif;
  }


/* ////// ACCORDIAN TEST ////// */







/*  new changes   */






/* /// Dennis /// */
.cover-background {
    position: relative;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}


body {
    -webkit-font-smoothing: antialiased;
}
img{
  border-radius: 0px;
}
.title-large {
    font-size: 20px;
    line-height: 30px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
.title-small {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}


* {
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

 :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

 ::selection {
    color: #000;
    background: #dcdcdc;
}



::-moz-selection {
    color: #000;
    background: #dcdcdc;
}

.restaurant-dishes {
    width: 450px;
    height: 550px;
    margin-top: 45px;
}

#menu .container-fluid {
    left: -7px;
    position: relative;
}


.restaurant-menu {
    min-height: 740px;
    padding-top: 15px;
}

.restaurant-menu:hover .restaurant-menu-image img {
    opacity: .5
}

.restaurant-menu-image {
    position: absolute;
    height: 100%;
    width: 100%;
}

.restaurant-menu-text {
    border: 8px solid #d8b75f;
    position: absolute;
    transition: all 400ms ease-out 0s;
    opacity: 0;
    z-index: 2;
    height: calc(100% - 80px);
    width: calc(100% - 100px);
    left: 57px;
    top: -42px;
}

.restaurant-menu:hover .restaurant-menu-text {
    opacity: 1;
    top: 42px
}

.restaurant-menu-text-inner {
    height: 100%;
    overflow-y: auto;
}

.menu-item {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 17px 0 22px 0;
    float: left;
    width: 100%
}
0
.menu-item:first-child {
    padding-top: 0
}

.menu-item:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.menu-item img {
    max-height: 80px
}

.menu-text, .menu-img {
    min-height: 80px;
    position: relative
}

.menu-text-sub {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    top: 50%;
}

.menu-item p {
    line-height: 20px;
    margin: 0 0 5px 0
}

.restaurant-menu-background {
    height: calc(100% - 46%);
    width: calc(100% - 46%);
    left: 23%;
    top: 23%;
    position: absolute;
    background: rgba(255, 255, 255, 1);
}

.restaurant-menu-border {
    border: 6px solid rgba(0, 0, 0, .1);
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    left: 20px;
    top: 20px;
    position: absolute;
}

.restaurant-menu-item {
    position: absolute;
    width: 100%;
    padding: 0 15px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
}
.display-block {
    display: block;
}

.no-margin {
    margin: 0;
}

.no-margin-lr {
    margin-left: 0;
    margin-right: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.margin-four {
    margin: 2.5%;
}

.z-index-1 {
    z-index: 1;
}
.position-relative {
    position: relative;
    z-index: 5
}
.overflow-hidden {
    overflow: hidden
}

span.food{
  color: #614c45;
  text-transform: uppercase;
}




@keyframes navhover {
    0% {}
    100% {
        background: #383838;
        color: white;
    }
}




body{
background-image:url('../img/paper_texture.png');

}


//////////////////////////////////////////////////////////////////
@media screen and (max-width: 950px) {
    nav {
        padding-top: 5px;
        font-family: 'Dosis', sans-serif;
        font-size: 4px;
    }
    .hours {
        height: 200px;
    }


}




@@media screen and (min-width:951px) {
  .chefs img {
    width: 12vw;
    border-radius: 10px;

  }


}
